---
import DateTime from "../DateTime.astro";
import Headline from "../Headline.astro";
import Link from "../Link.astro";
import { Image } from "astro:assets";
import Duration from "../Duration.astro";
import List from "../List.astro";

export type ProjectFrontmatter = {
  client: string,
  title: string,
  class?: string,
  buttonLabel?: string
  buttonTarget?: string
  url?: string,
  responsibilities?: string[],
  approach?: { [key: string]: string }[],
  startDate: string,
  endDate: string,
  image: ImageMetadata,
  imageAlt: string,
}

export interface Props extends ProjectFrontmatter {
  Content: any;
}

const { 
  class: className, 
  Content,
  title,
  client,
  image,
  imageAlt,
  buttonLabel,
  buttonTarget,
  url,
  responsibilities,
  startDate,
  endDate
  } = Astro.props;

---
<style>
  section {
    &.project-copra {
      --project-color-tint: var(--copra-project-color);
    }
    &.project-lab1886 {
      --image-offset: -75px;
      --project-color-tint: var(--lab1886-project-color);
    }
    &.project-bosch {
      --project-color-tint: var(--bosch-project-color);
    }
    &.project-figma {
      --project-color-tint: var(--design-tokens-project-color);
    }
    padding-top: var(--image-offset, 0);
    grid-column: full-bleed;
    &:not(:first-child) {
      margin-top: 40px;
      @media (--min-tablet) {
        margin-top: 64px;
      }
    }
    & .Project-excerpt__info {
      grid-column: full-bleed;
      grid-row: 1;
    }
    & .Picture {
      grid-row: 1;
      grid-column: full-bleed;
      max-width: 100%;
      max-height: 100%;
      z-index: 0;
      background-color: var(--project-color-tint, var(--project-default-tint));
      overflow: visible;
      padding-top: var(--image-offset, 0);
      @media (--min-tablet) {
        grid-column: columns;
        grid-row: 1;
      }
      @media (--min-desktop) {
        grid-column: column 4 / column -1;
        grid-row: 1 / 3;
        & > span {
          width: calc(100% - var(--column-gap)) !important;
          margin-left: var(--column-gap) !important;
        }
      }
      @media (--min-large) {
        grid-column: column 3 / column -1;
        grid-row: 1 / 3;
      }
      & > span {
        overflow: visible !important;
      }
      & img {
        margin-top: var(--image-offset, 0) !important;
      }
    }
    & .Project-excerpt__title {
      z-index: 100;
      margin-top: 32px;
      grid-row: 3;
      grid-column: columns;
      color: var(--on-background__highest-emphasis);
      @media (--min-desktop) {
        grid-row: 1;
        grid-column: column / span 4;
        width: calc(100% + var(--column-gap));
      }
      & .Project-card__client {
        margin-top: 0;
      }
      & .h5 {
        text-transform: uppercase;
        letter-spacing: 0.2px;
        &::before {
          content: "";
          display: inline-block;
          position: relative;
          flex: 0 0 auto;
          align-self: center;
          height: 2px;
          width: 40px;
          transform: translateY(-5px);
          background: currentColor;
          margin-right: 8px;
        }
      }
    }
    /* ====================================
     * Responsibilities
     */
    & .Project-excerpt__responsibilities {
      --list-indicator-color: var(--project-card--list-indicator-color, var(--on-surface-alternative__low-emphasis));
      grid-row: 2;
      grid-column: columns;
      z-index: 50;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      background: var(--project-card--background, var(--surface-alternative));
      color: var(--project-card--text-high-emphasis, var(--on-surface-alternative__high-emphasis));
      padding: var(--column-gap);
      margin: 0 0 32px calc(-0.5 * var(--column-gap));
      width: calc(100% + var(--column-gap));
      @media (--min-tablet) {
        margin: 24px 0 32px;
        width: 100%;
      }
      @media (--min-desktop) {
        --list-font-style: var(--typestyle__body--small);
        align-self: start;
        flex-direction: column;
        justify-content: stretch;
        margin-left: 0;
        grid-row: 2;
        grid-column: column 1 / span 4;
        padding: 32px;
      }
      @media (--min-large) {
        --list-font-style: var(--typestyle__body);
        padding: var(--column-gap);
        margin-left: calc(-1 * var(--column-gap));
        grid-column: column 1 / span 3;
        width: calc(100% + var(--column-gap));
      }
      & .h6 {
        width: 100%;
        margin: 0;
        margin-bottom: 8px;
        color: var(--project-card--text-low-emphasis, --on-surface-alternative__low-emphasis);
        &:not(::first-child) {
          margin-top: 24px;
        }
      }
      & .List {
        width: 100%;
        @media (--min-tablet) {
          width: calc((100% - var(--column-gap)) / 2);
        }
        @media (--min-desktop) {
          width: 100%;
        }
      }
    }
    /* ====================================
     * Details
     * challenge & solution
     */
    & .Project-excerpt__approach {
      grid-row: 4;
      grid-column: columns;
      font: var(--typestyle__body);
      color: var(--on-background__medium-emphasis);
      margin-bottom: 8px;
      & :global(h6) {
        font: var(--typestyle__h6);
        text-transform: uppercase;
        color: var(--on-background__medium-emphasis);
        margin: 0;
        margin-bottom: 8px;
        &:not(:first-child) {
          margin-top: 24px;
        }
      }
      @media (--min-desktop) {
        margin-top: 32px;
        grid-row: 3;
        grid-column: column 7 / span 6;
        & :global(p) {
          padding-left: 8px;
        }
      }
      @media (--min-large) {
        grid-column: column 7 / span 6;
      }
    }
    /* ==================================== */
    & .Project-excerpt__approach,
    & .Project-excerpt__time {
      & .h5,
      & h6 {
        margin: 0;
        &:not(:first-child) {
          margin-top: 24px;
        }
      }
      & :not(li) > p {
        margin-top: 8px;
      }
    }
    /* ====================================
     * Data
     */
    & .Project-excerpt__data {
      grid-row: 5;
      border-bottom: 1px solid var(--ui--fair-contrast);
      margin: 0;
      margin-top: 40px;
      padding-bottom: 32px;
      display: flex;
      flex-direction: column;
      grid-column: columns;
      @media (--min-tablet) {
        justify-content: space-between;
        flex-direction: row;
      }
      @media (--min-desktop) {
        border-bottom: 0;
        margin-top: 32px;
        grid-row: 3;
        grid-column: column 4 / span 3;
        flex-direction: column;
        justify-content: stretch;
      }
      @media (--min-large) {
        padding-left: 8px;
        grid-column: column 3 / span 4;
      }
      & .Project-excerpt__time {
        display: flex;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 32px;
        @media (--min-desktop) {
          justify-content: stretch;
        }
        line-height: 100%;
        & dd, & dt {
          line-height: 20px;
          display: flex;
          align-items: center;
        }
        & dd,
        & dt {
          /* display: block; */
          width: calc(((100% - var(--column-gap)) / 2));
          &:nth-child(1n) {
            order: 1;
          }
          &:nth-child(2n) {
            order: 3;
          }
          &:nth-child(3n) {
            order: 2;
          }
          &:nth-child(4n) {
            order: 4;
          }
          @media (--min-desktop) {
            width: 100%;
            &:nth-child(1n) {
              order: 1;
            }
            &:nth-child(2n) {
              order: 1;
            }
            &:nth-child(3n) {
              margin-top: 16px;
            }
            &:nth-child(4n) {
              margin-top: 16px;
            }
            
          }
          @media (--min-large) {
            width: calc(((100% - var(--column-gap)) / 2));
          }
        }
        & dt {
          & h6 {
            color: var(--on-background__medium-emphasis);
          }
        }
        & dd {
          margin-left: 0;
          font: var(--typestyle__body--bold);
          color: var(--on-background__high-emphasis);
        }
      }
      & .project-link {
        align-self: flex-start;
        justify-content: space-between;
        min-width: 120px;
      }
    }
  }
</style>

<section class:list={['Project-excerpt Project-card Project-card__link Grid', className]} aria-label={`${client} — ${title}`}>
  <div class="Picture" style={`aspect-ratio: ${image.width} / ${image.height};`}>
    <Image
      alt={imageAlt}
      src={image}
    />
  </div>
  <div class="Project-excerpt__title">
    <Headline level="2" style="h5" class="Project-card__client">{client}</Headline>
    <Headline level="3" style="h2" class="Project-card__title">{title}</Headline>
  </div>
  <div class="Project-excerpt__responsibilities">
    <Headline style="h6">Responsibilities</Headline>
    {responsibilities && 
      <List items={responsibilities.slice(0, Math.ceil(responsibilities.length / 2))} />
      <List items={responsibilities.slice(Math.ceil(responsibilities.length / 2))} />
    }
  </div>
  <div class="Project-excerpt__approach"><Content /></div>
  <div class="Project-excerpt__data">
    <dl class="Project-excerpt__time">
      <dt><Headline style="h6">Year</Headline></dt>
      <dd>
        <DateTime format="YYYY" from={startDate} to={endDate} />
      </dd>
      {endDate &&
      <dt><Headline style="h6">Duration</Headline></dt>
      <dd>
        <Duration from={startDate} to={endDate} />
      </dd>
      }
    </dl>
    {url && <Link class='project-link' href={url} target={buttonTarget} style="button" icon={true}>{buttonLabel || "Open"}</Link>}
  </div>
</section>