---
import type { HTMLAttributes } from 'astro/types';
import type { CollectionEntry } from 'astro:content';
import Link from "./Link.astro";
import AboutItem from './AboutItem.astro';
import { resumePdfLink } from '../config';

interface Props extends HTMLAttributes<'ul'> {
  title?: string
  items: CollectionEntry<'work-experience'>[]
  moreLink?: string
}

const { title = "Work Experience", items, moreLink, ...attr } = Astro.props;
---
<style>
  h3 {
    font: var(--typestyle__h5);
    color: var(--on-background__low-emphasis);
    margin-bottom: 24px;
  }
  .more-link-container {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 24px;
    align-items: start;
    :global(.more-link) {
      grid-column: 2;
      justify-self: start;
      width: auto;
    }
  }

</style>

<div class:list={[attr.class]}>
  <h3>{title}</h3>
  {items.map(async (item) => {
    const { Content } = await item.render();
    return <AboutItem
      from={item.data.startDate}
      to={item.data.endDate || "now"}
      title={item.data.title}
      org={item.data.company}
      ><Content /></AboutItem>
  })}
  {moreLink && (
    <div class="more-link-container">
      <Link href={resumePdfLink} rel="noopener noreferrer nofollow" target="_blank" class="more-link" icon={true}>Download resumé (PDF)</Link>
    </div>
  )}
</div>