---
import Layout from "./Layout.astro";
import { Image } from "astro:assets";
import Svg from "../components/Svg.astro";
import Talks from "../components/Talks.astro";
import svgTitleDefault from "../assets/svgs/about-lukas-oppermann.svg?raw";
import profilePicture from '../assets/images/lukasoppermann_profile_2x.jpg';
const {frontmatter} = Astro.props;


---
<style>
  .Header--about {
    --max-grid-rows: 7;
    margin-top: 64px;
    margin-bottom: 64px;
    grid-template-rows: max-content auto max-content;
    grid-column: full-bleed;
    /* ====================================
      Background
    ==================================== */
    & .Header__background {
      grid-row: 1 / var(--max-grid-rows);
      grid-column: columns;
      width: calc(100% + var(--grid-column-gap) * 2);
      height: 100%;
      margin-left: calc(-1 * var(--grid-column-gap));
      background-color: var(--neutrals-1000);
      z-index: 0;
    }
  }
  .profile-picture {
    vertical-align: bottom;
    mix-blend-mode: screen;
    mix-blend-mode: plus-lighter;
    grid-row: 1 / span 6;
    z-index: 100;
    height: auto;
    grid-column: columns;
    @media (--min-desktop) {
      grid-column: columns / span 6;
    }
  }
  :global(svg.svg-title) {
    grid-row: 4 / span 2;
    z-index: 200;
    grid-column: columns;
    max-width: 100%;
    fill: var(--neutrals-0) !important;
  }
  :global(.talks) {
    grid-column: columns;
    grid-row: 3;
    margin-top: 48px;
    @media (--min-desktop) {
      margin-top: 0;
      grid-row: 2;
      grid-column: columns / span 5;
    }
  }
  .main-content {
    grid-column: columns;
    grid-row: 2;
    @media (--min-desktop) {
      grid-row: 2;
      grid-column: column 7 / span 6;
    }
  }
</style>

<Layout title="About Lukas Oppermann — Design lead, systems designer and design token expert">
  <!-- <Svg svgString={svgTitleDefault} class="svg-title svg-title--default" />
  <Svg svgString={svgTitleStacked} class="svg-title svg-title--stacked" /> -->
  <section class="Header--about Grid">
    <Svg svgString={svgTitleDefault} class="svg-title svg-about--default" />
    <Image
    class="profile-picture"
    alt={frontmatter.banner_alt}
    src={profilePicture}
    width={590}
    height={600}
    />
    <div class="Header__background"></div>
  </section>
  <Talks class="talks" items={frontmatter.talks} title="Speaking" moreLink="https://read.cv/lukasoppermann" />
  <section class="main-content">
    <slot />
  </section>
</Layout>
